$salmon: #F4816E !default;
$taupe: #d0b8ac !default;
$taupe-600: #f3d8c7 !default;
$taupe-400: #efe5dc !default;
$taupe-200: #fbfefb !default;


$theme-colors: (
  "primary": #d0b8ac,
  "secondary": #efe5dc,
  "tertiary":#FFFDFC,
);

//then bootstrap & bootstrap-vue should be added after 
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';


// Classic css
  
body {
    background-color:#efe5dc; 
    color: #253237;
    font-family: 'Crimson Text', serif;
    min-height: 100vh;
}

input:focus {
    outline: 3px solid #F4816E;
}  


nav.customnav {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0b8ac+1,d0b8ac+100&1+65,0+93 */
    background: -moz-linear-gradient(top,  rgba(208,184,172,0.9) 1%, rgba(208,184,172,0.9) 50%, rgba(208,184,172,0) 90%, rgba(208,184,172,0) 100%); 
    background: -webkit-linear-gradient(top, rgba(208,184,172,0.0) 1, rgba(208,184,172,0.9) 50%,rgba(208,184,172,0) 90%,rgba(208,184,172,0) 100%); 
    background: linear-gradient(to bottom,  rgba(208,184,172,0.9) 1%, rgba(208,184,172,0.9) 50%,rgba(208,184,172,0) 90%,rgba(208,184,172,0) 100%); 
    position: fixed;
    width: 100%;
    padding-bottom: 1.5rem;
}

#josie.logo {
    // width: 60%;
    width :5.5rem; 
}
.container-lg {
    max-width: none;
    padding-top: 7rem;
}

h1::first-letter {
    text-transform: uppercase;
}

h2, .h2 {
    font-size: 1.5rem;
}

.btn-tertiary.nuxt-link-exact-active {
    background-color: #F4816E;
    border-color: #F4816E;
    color:#FFFDFC;
}


// nav 

.navbar-dark .navbar-nav .nav-link {
    color:rgba(132,87,76,0.8);
}

.navbar-dark .navbar-nav .nav-link,.navbar-dark .navbar-nav .nav-link:focus{
    color:white;
    padding:0;
    align-self: bottom;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color:white;
    text-decoration: underline;

}

.navbar-text.title-home {
    display: none;
}

.halloween .navbar-text.title-home {
    display: inline-block;
}

.navbar-nav {
    width: 100%;
}


.insta-link {
    display: none;
}
.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity:0;
    transition:1s ease all;
    -webkit-transition:1s ease all;
}
.dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity:1;
    transition:1s ease all;
    -webkit-transition:1s ease all;
}

.customnav .dropdown-menu {
    overflow: scroll;
    max-height: 90vh;
}

::-webkit-input-placeholder { /* Edge */
    color: rgba(132,87,76,0.7) !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(132,87,76,0.7) !important;
}

::placeholder {
    color: rgba(132,87,76,0.7) !important;
}

.customnav .dropdown-toggle::after {
    display: none;
}

.filter-icon {
    width:20px;
    height:20px;
    margin-top:2px;
    vertical-align: top;
    fill: #FFF;
}

.search-container {
    width: 100%;
}

.search-recipes, .search-list-recipes {
    color: #000;
    border: 1px solid #d0b8ac;
    border-radius: 0.25rem;
}

.search-recipes {
    padding: 0.3rem;
    padding-left:0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    background-color: #efe5dc;
}

.search-list-recipes {
    background-color: #fff;
    overflow-x: hidden !important;
    width: auto;
    position: absolute;
    max-height: 60vh;
    overflow-y: auto;
    >li {
        padding: 0.4rem;
    }
    a {
        color:#000;
    }
}

.dropdown-item {
    color:rgba(132,87,76,0.8);
}

.dropdown-item:hover,.dropdown-item:focus {
    color:rgba(132,87,76,0.9);
    background: transparent;
}

// icons

.icon-instagram {
    mask: url(~assets/images/instagram-brands.svg);
}

.icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.65rem;
    background: #fff;
    mask-size: cover;
    transition: ease-in 0.1s;
    -webkit-transition: ease-in 0.3s;
}
  
  .icon:hover,.icon:focus {
    background: #F4816E;
  }
  
.nuxt-content h2 {
    font-weight: bold;
}

// card
.recipe-filter a {
    font-size: 0.8rem;
}

.card.post .badge {
    font-size: 0.65rem;
}

.recipe-filter a, .card.post .badge {
    text-transform: uppercase;
    font-weight: 400;
}

.recipe-filter a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .nav-link:focus,.navbar-dark .navbar-nav .show > .nav-link {
    color:rgba(132,87,76,0.9); 
}

article {
    color: #000;
    .post-left {
        -webkit-box-shadow: inset 0 200px 100px -100px rgba(208,184,172,0.2);
        -moz-box-shadow: inset 0 200px 100px -100px rgba(208,184,172,0.2);
        box-shadow: inset 0 200px 100px -100px rgba(208,184,172,0.2);
        img {
            z-index: -2;
        }
    }
    .post-right {
        background-color: #d0b8ac;
    }
}

.push-category.push-halloween {
    background-color: #0D0126;
    background-image : url(~assets/images/pattern-halloween.png);
    h2 {
        color:#F27405;
        font-size: 2rem;
    }
    p {
        color:#FFF
    }
}

.halloween .img-halloween-container {
    box-shadow: inset 0 0 90px rgba(13,1,38,0.9);

    img {
        z-index: -2;
        position: relative;
        opacity: 0.8;
    }
}

.halloween .intro .lead{
    color:#CBB1A4;
    font-size: 1.5rem;
}


.halloween h1  {
    font-size: 3rem;
    text-transform: uppercase;
    color : #F27405
}

.halloween h1::first-letter {
    font-size: 3rem;
}



#posts .card {
   border:0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
   -webkit-box-shadow: 0 4px 5px 0 rgba(208,184,172,0.5);
   -moz-box-shadow: 0 4px 5px 0 rgba(208,184,172,0.5);
   box-shadow: 0 4px 5px 0 rgba(208,184,172,0.5);
   overflow: hidden;
   
   a img {   
       opacity: 0.9;
        // transition: all 1s ease;
        // -webkit-transition: all 1s ease;
   }
   .img-container {
        overflow: hidden;
        height: initial;
   }
   .card-body {
        transition: 1s ease;
        -webkit-transition: 1s ease;
    }
}

#posts .card:hover {    
    -webkit-box-shadow: 0 5px 6px 0 rgba(132, 87, 76, 0.5);
    -moz-box-shadow: 0 5px 6px 0 rgba(132, 87, 76, 0.5);;
    box-shadow: 0 5px 6px 0 rgba(132, 87, 76, 0.5);
    background-color: #efe5dc !important;
    // a img {
        // transform: scale(1.1);
    // }
    .icon {
        background: #F4816E;
    }
    .icon:hover {
        background: #253237;
    }
}

#posts .card-img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.card.post .card-header {
    z-index: 10;
    border: 0;
    background: transparent;
}

.card.post .card-header .tag {
    padding: 0.25rem;
    padding-left: 0;
    background: #efe5dc;
    color: #253237;
}

.card.post {
    a  {
        h2 {
            color: #B99B8B;
        }
        p {
            color: #CBB1A4;
            margin-bottom: 0; 
        }
    }
    a:hover {
        text-decoration: none;
        h2 {
            color: #b48e7b;
            text-decoration: underline;
        }
    }
}

a.see-more {
    color: #B99B8B;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 5px 0 rgba(208,184,172,0.5);
    -moz-box-shadow: 0 4px 5px 0 rgba(208,184,172,0.5);
    box-shadow: 0 4px 5px 0 rgba(208,184,172,0.5);
    transition: 1s ease;
    -webkit-transition: 1s ease;
}

a.see-more:hover {
    color: #b48e7b;
    -webkit-box-shadow: 0 5px 6px 0 rgba(132, 87, 76, 0.5);
    -moz-box-shadow: 0 5px 6px 0 rgba(132, 87, 76, 0.5);;
    box-shadow: 0 5px 6px 0 rgba(132, 87, 76, 0.5);
}

// content 

.nuxt-content ul {
    list-style-type: disc;
    padding-left: 1rem;
}

.halloween {
    background-color: #0D0126;
    background-image : url(~assets/images/pattern-halloween.png);
    .navbar h1 {
        color:#F27405;
    }
}

.halloween nav {
    background: transparent;
}


.halloween .card.post {
    border:none;
    background: rgba(51,3,64,0.4) !important;
    transition : 1s all ease-in-out;
    a h2 {
        color: #F27405;
        font-size: 2.3rem;
    }
    
}

.halloween .card.post:hover {
    background: rgba(51,3,64,0.2) !important;
}

@media (min-width: 320px){
    .xs\:h-screen {
        height: 80vh;
    }
}

// media queries

@media (min-width: 575px){
    .card-columns {
        column-count: 2;
    }

    .navbar-text.title-home {
        display: inline-block;
    }

    h1 {
        font-size: 1.8rem;
    }
    h1::first-letter {
        font-size: 2rem;
    }
    .navbar-nav {
        width: auto;
    }
    
    .search-container,.search-list-recipes {
        width:13rem;
    }

    article .search-container {
        display: block;
    }
    .halloween .container-lg  {
        padding-right: 15px;
        padding-left: 15px;
    }

    .halloween .container-lg .content-row {
        padding-right: 6rem;
        padding-left: 6rem;
    }
}

@media (min-width: 760px){
    body {
        background: rgba(239,229,220,1);
        background: linear-gradient(180deg, rgba(208,184,172,1) 5vw, rgba(239,229,220,1) 100vw);
        background-attachment: fixed;

    }
    .container-lg {
        padding-left:7rem;
        padding-right: 7rem;
    }

    .halloween .container-lg  {
        padding-right: 15px;
        padding-left: 15px;
    }

    .halloween .container-lg .content-row {
        padding-right: 14rem;
        padding-left: 11rem;
    }

    .halloween .intro {
        padding-left: 15vw;

    }
    .card-columns {
        column-count: 2;
    }
    
    article h1 {
        font-size: 3rem;
    }

    h1::first-letter {
        font-size: 3.2rem;
    }

    .navbar h1 {
        position: fixed;
        bottom: -3rem;
        left: 1.5rem;
        transform : rotate(270deg);
        transform-origin :0 0;
        // color: #d0b8ac;
        color:rgba(132,87,76,0.3);
        font-size: 3.6rem;
    }

    .navbar h1::first-letter {
        font-size: 3.8rem;
    }

    .dropdown-item {
        padding-right: 0;
    }
    .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity:0;transform: translateY(-3rem);
        transition:1s ease all;
        -webkit-transition:1s ease all;
    }
    .dropdown-menu.show {
        display: block;
        visibility: visible;
        opacity:1;transform: translateX(0);
        transition:1s ease all;
        -webkit-transition:1s ease all;
    }
    
    .navbar-expand .navbar-nav .dropdown-menu {
        background: transparent;
        border: 0;
        text-align: right;
    }
    .insta-link {
        display: flex;
    }
}



@media (min-width: 1024px){
    .container-lg {
        padding-right: 12rem;
    }

    .halloween .container-lg  {
        padding-right: 15px;
        padding-left: 15px;
    }

    .halloween .container-lg .content-row {
        padding-right: 30vw;
        padding-left: 30vw;
    }
    .halloween .col .card.post:nth-of-type(even) {
        margin-left: 7rem;
    }
    
    .halloween .col .card.post:nth-of-type(odd) {
        margin-right: 7rem;
    }
    article h1 {
        position: fixed;
        bottom: -3rem;
        left: 1.5rem;
        transform : rotate(270deg);
        transform-origin :0 0;
        // color: #d0b8ac;
        color: #fff;
        text-shadow:0 0 20px rgba(132,87,76,1);
        width:75vh;
    }
    .lg\:h-full {
        height: 100%;
    }
    .card-columns {
        column-count: 3;
    }
}


@media (min-width: 1440px){
    .card-columns {
        column-count: 4;
    }

    .halloween .container-lg .content-row {
        padding-right: 32vw;
        padding-left: 32vw;
    }
}


// animation

.animate {
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
.animate1 {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

.animate3 {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}

@keyframes slideup {
    0% {
        transform: translateY(4rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0);
        opacity: 1;
    }
    0% {
        transform: translateY(4rem);
        opacity: 0;
    }
}
  
@-webkit-keyframes slideup {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
}

@keyframes slideup2 {
    0% {
        transform: translateY(2rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0);
        opacity: 1;
    }
}
  
@-webkit-keyframes slideup2 {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
}

.slideUp {
    -webkit-animation-name: slideup;
    animation-name: slideup;
}

.slideUp2 {
    -webkit-animation-name: slideup2;
    animation-name: slideup2;
}


@keyframes blur {
    0%,
    90% {
      -webkit-filter: blur(0);
      -moz-filter: blur(0);
      -o-filter: blur(0);
      -ms-filter: blur(0);
    }
    50% {
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
    }
  }
